.loader {
  width: 30px;
  height: 30px;
  border: 6px solid black;
  border-top-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: spinner 1s linear infinite;

  @keyframes spinner {
    from {
      transform: rotate(0);
    };
    to  {
      transform: rotate(360deg);
    }
  }
}
