.sort {
  padding-block: 20px;

  & > label {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  & input {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
  }
}